@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);
--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Dark-Blue);
    padding: 1rem;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 0.1px);
}

h1
{
    padding: 0;
    margin: 0;
}

main
{
    display: flex;
    justify-content: center;
}

.container
{
    background-color: var(--Dark-Grayish-Blue);
    background-image: url(images/pattern-divider-mobile.svg);
    background-repeat: no-repeat;
    background-position: 50% 85%;
    position: relative;
    width: 90%;
    border-radius: 15px;
}

.number
{
    color: var(--Neon-Green);
    letter-spacing: .3rem;
    padding: 3rem 2rem 0rem 2rem;
    font-size: 6px;
}

.quote
{
    color: var(--Light-Cyan);
    padding: 2rem;
    font-size: 20px;
    margin-bottom: 5rem;
}

.cube   
{
    opacity: 0.7;
    padding: 2rem;
    align-content: center;
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
    background: none;
    border: none;
    border-radius: 50%;
    background-image: url(images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--Neon-Green);
    transition: all .2s ease-in-out;
}

.cube:hover
{
    cursor: pointer;
    opacity: 1;
}

@media (min-width: 600px)
{
    .container{
        max-width: 500px;
        background-image: url(images/pattern-divider-desktop.svg);
        padding: 1rem;
    }
    .quote
    {
    font-size: 28px;
    }
}